{% extends 'admin_base.html' %}
{% block title %}Add Tv Series {% endblock %}
{% block content %}
    <main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>Add new item</h2>
				</div>
			</div>
			<!-- end main title -->

			<!-- form -->
			<div class="col-12">
                {% include 'message.html' %}
				<form action="#" class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
					<div class="row">
						<div class="col-12 col-md-5 form__cover">
							<div class="row">
								<div class="col-12 col-sm-6 col-md-12">
									<div class="form__img">
										<label for="form__img-upload">Upload cover (270 x 400)</label>
                                        {{ form.cover_photo }}
										<img id="form__img" src="#" alt=" ">
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-7 form__content">
							<div class="row">

								<div class="col-12">
									{{ form.title }}
								</div>

								<div class="col-12">
                                    {{ form.descriptions }}
								</div>

								<div class="col-12 col-sm-6 col-lg-3">
                                    {{ form.release_year }}
								</div>

								<div class="col-12 col-sm-6 col-lg-3">
                                    {{ form.runtime }}
								</div>

								<div class="col-12 col-sm-6 col-lg-3">
                                    {{ form.video_quality }}
								</div>


								<div class="col-12 col-sm-6 col-lg-3">
									{{ form.audience_age }}
								</div>
								<div class="col-12 col-lg-6">
                                    {{ form.country }}
								</div>
								<div class="col-12 col-lg-6">
                                    {{ form.genre }}
								</div>
							</div>
						</div>
                        <div class="col-12">
                                <div class="form__gallery">
                                    <label id="gallery1" for="form__gallery-upload">Upload photos</label>
                                    <input data-name="#gallery1" id="form__gallery-upload" name="gallery" class="form__gallery-upload" type="file" accept=".png, .jpg, .jpeg" multiple>
                                </div>
                        </div>
                        <!--Movie Category -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            {{ form.category }}
                        </div>
                        <!-- End movie category !-->
						<div class="col-12">
							<div class="row">
								<div class="col-12">
                                    {{ form.video_url }}
								</div>
								<div class="col-12">
									<button type="submit" class="form__btn" id="button_publish">publish</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- end form -->
		</div>
	</div>
</main>
{% endblock %}